<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<!--suite name="Tests" verbose="5" data-provider-thread-count="1"-->
    <suite name="Tests" verbose="3" parallel="tests" thread-count="2">
	<test verbose="2" name="TestAdd">
		<parameter name="path" value="/"/>
		<parameter name="user" value="admin"/>
		<parameter name="password" value="admin"/>
		<parameter name="capabilities" value="android_chrome"/>
		<classes>
		    <class name="ru.greg3d.Lesson3TestAdd"/>
		    <class name="ru.greg3d.Lesson3TestDeleteSearch"/>
		</classes>
	</test>
	<test verbose="2" name="TestDeleteSearch">
		<parameter name="path" value="/"/>
		<parameter name="user" value="admin"/>
		<parameter name="password" value="admin"/>
		<parameter name="capabilities" value="chrome"/>		
		<classes>
		    <class name="ru.greg3d.Lesson3TestAdd"/>
		    <class name="ru.greg3d.Lesson3TestDeleteSearch"/>
		</classes>
	</test> 
</suite>